.body__main
  .body__main__main-header
    .body__main__main-header__left
      %p.body__main__main-header__left__current-group
        = @group.name
        .body__main__main-header__left__member-list
        Member:
        - @group.users.each do |user|
          = user.name

    = link_to edit_group_path(@group), class: "body__main__main-header__edit" do      
      Edit
    
  .messages
    = render @messages

  .body__main__form
    = form_for [@group, @message] do |f| 
      = f.text_field :content, class: 'input-box', placeholder: 'type a message'
      .form-mask
        = f.label :image, class: 'image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form-submit'

