.body__side
  .body__side__side-header
    .body__side__side-header__box
      %p.body__side__side-header__box__username
        = current_user.name 
      
      %ul.body__side__side-header__box__menu
        %li.body__side__side-header__box__menu__new-group
          = link_to new_group_path(current_user)  do
            = icon('fas','edit', class:'icon') 
        %li.body__side__side-header__box__menu__edit-account
          =link_to edit_user_path(current_user)  do
            = icon('fas','cog', class:'icon') 
      
  .body__side__side-groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class:"body__side__side-groups__group"  do
        .body__side__side-groups__group__name
          = group.name 
        .body__side__side-groups__group__latest-message
          = group.show_last_message
-# .side-bar
-#   .header
-#     %h3.header__name
-#       = current_user.name
-#     %ul.header__lists
-#       %li.list
-#         = link_to new_group_path do
-#           = icon('fas', 'edit', class: 'icon')
-#       %li.list
-#         = link_to edit_user_path(current_user) do
-#           = icon('fas', 'cog', class: 'icon')
-#   .groups
-#     - current_user.groups.each do |group|
-#       .group
-#         = link_to group_messages_path(group) do
-#           .group__name
-#             = group.name
-#           .group__message
-#             = group.show_last_message